<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
    <display-name>Trentino Network OpenNMS provisioning dashboard 2.0</display-name>
	<session-config>
    	<session-timeout>30</session-timeout>
	</session-config>
    <context-param>
        <description>Vaadin production mode</description>
        <param-name>productionMode</param-name>
        <param-value>true</param-value>
    </context-param>
	<context-param>
    	<param-name>heartbeatInterval</param-name>
    	<param-value>600</param-value>
	</context-param>
    <servlet>
        <servlet-name>TNPD</servlet-name>
        <servlet-class>org.opennms.vaadin.provision.dashboard.DashboardServlet</servlet-class>
        <init-param>
            <description>Trentino Network OpenNMS Provision Dashboard</description>
            <param-name>UI</param-name>
            <param-value>org.opennms.vaadin.provision.dashboard.DashboardUI</param-value>
        </init-param>
    </servlet>
    <servlet>
		<servlet-name>FAST</servlet-name>
		<servlet-class>
			com.vaadin.server.VaadinServlet
		</servlet-class>
		<init-param>
		<param-name>UI</param-name>
		<param-value>org.opennms.vaadin.provision.dashboard.FastUI</param-value>
	</init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>FAST</servlet-name>
        <url-pattern>/FAST/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TNPD</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    
</web-app>
